<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cimc.car.mapper.QrtzCalendarsMapper">
  <resultMap id="BaseResultMap" type="com.cimc.car.domain.QrtzCalendars">
    <!--@mbg.generated-->
    <!--@Table qrtz_calendars-->
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="CALENDAR_NAME" jdbcType="VARCHAR" property="calendarName" />
    <result column="CALENDAR" jdbcType="BLOB" property="calendar" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    SCHED_NAME, CALENDAR_NAME, CALENDAR
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from qrtz_calendars
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from qrtz_calendars
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cimc.car.domain.QrtzCalendars">
    <!--@mbg.generated-->
    insert into qrtz_calendars (SCHED_NAME, CALENDAR_NAME, CALENDAR
      )
    values (#{schedName,jdbcType=VARCHAR}, #{calendarName,jdbcType=VARCHAR}, #{calendar,jdbcType=BLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cimc.car.domain.QrtzCalendars">
    <!--@mbg.generated-->
    insert into qrtz_calendars
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        SCHED_NAME,
      </if>
      <if test="calendarName != null">
        CALENDAR_NAME,
      </if>
      <if test="calendar != null">
        CALENDAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="calendarName != null">
        #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="calendar != null">
        #{calendar,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cimc.car.domain.QrtzCalendars">
    <!--@mbg.generated-->
    update qrtz_calendars
    <set>
      <if test="calendar != null">
        CALENDAR = #{calendar,jdbcType=BLOB},
      </if>
    </set>
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cimc.car.domain.QrtzCalendars">
    <!--@mbg.generated-->
    update qrtz_calendars
    set CALENDAR = #{calendar,jdbcType=BLOB}
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </update>
</mapper>